<!DOCTYPE html>
<html>
  <head>
    <title>Sudokusolver</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <div class="p-4 text-white bg-blue-500"> Sudoku Solver</div>

  <body>
    <main>
      <%= yield %>
    </main>
  </body>
  <footer class="mt-4 text-center" style="margin-top:20px">
    Code for this application can be found at on <a class="font-medium text-blue-600 dark:text-blue-500 hover:underline" href="https://github.com/chriszimmerman/sudokusolver">GitHub</a>.
  </footer>
</html>
